@font-face {
    font-family: Gogh;
    src: urL("./fonts/Gogh-ExtraBold.otf")
}

html {
    font-family: Gogh;
    color: white;
}

body {
    margin: 0px;
    background-color: rgb(202, 0, 0);
}

h1 {
    margin: 0px;
    font-size: 2.5em;
}

main {
    background: linear-gradient(
        180deg,
        rgb(0, 0, 0) 0,
        rgb(34, 32, 32) 10cm
    );
    width: 80em;
    min-height: 100vh;
    margin: auto;
    padding-top: 7em;
    overflow-y: hidden;
}

header {
    position: fixed;
    width: 100vmax;
    padding: 0.35cm;
    background: linear-gradient(
        0deg, 
        rgb(22, 22, 22) 0%,
        rgb(46, 46, 46) 40%, 
        rgb(46, 46, 46) 60%, 
        rgb(22, 22, 22) 100%
    );
    box-shadow: inset -0.5em -0.5em 0.5em 0em rgb(255, 68, 35);
    z-index: 100;
}

img {
    object-fit: cover;
    display: block;
}

.horizontalList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}


.horizontalList li{
    display: inline-block;
    vertical-align: middle;
}

.icon {
    color: white;
    margin: 0.5em;
    vertical-align: middle;
    font-size: 1.2em;
}

.searchBar {
    background-color: rgb(62, 62, 62);
    margin-left: 0.5cm;
    border-radius: 0.3cm;
}

.searchBar input {
    height: 1cm;
    width: 15cm;
    border: 0;
    font-size: 0.5cm;
    font-family: Gogh;
    color: white;
    background-color: transparent;
}

.searchBar ::placeholder {
    color: rgb(123, 122, 122);
}

.searchBar textarea:focus, input:focus {
    outline: none;
}


.background {
    position: fixed;
    height: 100%;
    z-index: -1;
}

.left {
    left: 0;
    float: left;
}

.right {
    right: 0;
    float: right;
}


.article {
    text-align: justify;
    padding: 2em;
}

.article h1 {
    color: white;
    text-align: center;
}

.article h2 {
    font-size: 1.5em; 
}

.mainDescription {
    float: right;
    width: min-content;
    margin: 2em;
    background-color: white;
    padding: 0.2em;
    border-radius: 0.1em;
    text-align: left;
    color: black;
}

.mainDescription table{
    border-collapse: collapse;
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.mainDescription h2 {
    text-align: center;
    font-size: 1.5em;
}

.mainDescription img {
    height: 32em;
    width: 24em;
}

.mainDescription tbody>tr>td {
    padding: 0.2em;
}

.mainDescription tbody>tr>td:nth-child(0) {
    padding-top: 2em;
    text-align: right
}

.mainDescription tbody>tr>td:nth-child(1) {
    border-right: 1px solid rgb(146, 133, 133);
}