body {
    margin: 0px;
}


h1 {
    margin: 0px;
}

.mainHeader {
    padding: 0.35cm;
    background: linear-gradient(0deg, 
        rgba(1, 3, 19) 0%,
        rgba(45,16,50,1) 40%, 
        rgb(41, 18, 53) 48%, 
        rgba(45,16,50,1) 60%, 
        rgb(1, 3, 19) 100%);
    filter: drop-shadow(0px 0.3cm 2cm rgba(43, 5, 5, 0.486));
    box-shadow: inset 0px -0.2cm 0.2cm 0 rgba(48, 19, 114, 0.623);

}

.horizontalList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}


.horizontalList li{
    display: inline-block;
    vertical-align: middle;
}

.icon {
    color: white;
    margin: 0.2cm;
    vertical-align: middle;
    font-size: 0.5cm;
}

.searchBar {
    background-color: rgb(62, 62, 62);
    margin-left: 0.5cm;
    border-radius: 0.3cm;
}

.searchBar input {
    height: 1cm;
    width: 10cm;
    border: 0;
    font-size: 0.5cm;
    color: white;
    background-color: transparent;
}

.searchBar ::placeholder {
    color: rgb(123, 122, 122);
}

.searchBar textarea:focus, input:focus {
    outline: none;
}