.mainDescription {
    float: right;
    width: min-content;
    margin-left: 2em;
    margin-bottom: 2em;
    margin-top: 2em;
    background-color: white;
    padding: 0.2em;
    border-radius: 0.1em;
    text-align: left;
    color: black;
}

.mainDescription table{
    border-collapse: collapse;
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.mainDescription h2 {
    text-align: center;
    font-size: 3vh;
}

.mainDescription img {
    height: 30vw;
    width: 20vw;
}

.mainDescription tbody>tr>td {
    padding: 0.2em;
}

.mainDescription tbody>tr>td:nth-child(0) {
    padding-top: 2em;
    text-align: right
}

.mainDescription tbody>tr>td:nth-child(1) {
    border-right: 1px solid rgb(146, 133, 133);
}

.article {
    text-align: justify;
}

.article h1 {
    color: white;
    text-align: center;
}

.article h2 {
    font-size: 1.5em; 
}